.description {
    display: flex;
    justify-content: center;

}

.contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.social-contacts {
    display: flex;
    flex-direction: column;
}

.header {
    font-weight: 700;
    font-size: 28px;
    color: #394145;
    padding-bottom: 20px;
}

.social-network-title {
    font-weight: 500;

}

.social-network-icon {
    font-size: 30px;
    padding-right: 15px;

}

.social-network {
    margin-left: 8px;

    &:hover {
        color: #007199;
    }

    cursor: pointer;
}

.text-area {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 20px;
    max-width: 500px;
    font-family: merriweather, serif;

}