.social-network-icon-small {
    font-size: 20px;
    padding-right: 14px;
}

.social-network-icon-large {
    font-size: 40px;
    padding-right: 15px;
}
.social-network {
    margin-left: 8px;

    &:hover {
        color: gray;
    }

    cursor: pointer;
}