.project-container {
    margin: 5px;
    width: 300px;
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .125);
    height: 250px;
    background-color: #E8F2F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        background-color: white;
    }


    .btn {
        padding: 5px;

        &:hover {
            color: #007230;

        }
    }

    .stats {
        display: flex;

        .star {
            margin-right: 10px;
            color: #daaa3f;
        }
    }

    .wrapper {
        display: flex;
        padding-right: 5px;

        .count {
            margin-left: 5px;
        }
    }

    .languages {
        display: flex;
        font-size: 10px;
    }

    .language {
        margin-right: 5px;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        cursor: pointer;

    }

    .project-icon {
        font-size: 40px;
        color: #007199;
        display: flex;
    }

    .project-description {}

    .project-name {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.5;
        padding-bottom: 20px;
        max-width: 500px;

        &:hover {
            cursor: pointer;
            color: #007199;
        }
    }
}